# Rust Stuff
/target/

# IDE tools
.fleet
.vscode

# Luro Specific
/testing/
/data/fursona
/data/quotes
/data/database
/data/config.toml
/data/heck.toml
/data/quotes.toml
/data/secrets.toml
/data/stories.toml